<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.erwannrousseau.neovim-finder</string>
	<key>CFBundleName</key>
	<string>Neovim Finder</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Neovim Finder needs to control Ghostty to open files in Neovim.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>php</string>
				<string>ts</string>
				<string>js</string>
				<string>jsx</string>
				<string>tsx</string>
				<string>py</string>
				<string>go</string>
				<string>swift</string>
				<string>md</string>
				<string>yaml</string>
				<string>yml</string>
				<string>txt</string>
				<string>json</string>
				<string>jsonc</string>
				<string>toml</string>
				<string>ini</string>
				<string>xml</string>
				<string>svg</string>
				<string>html</string>
				<string>htm</string>
				<string>css</string>
				<string>scss</string>
				<string>sass</string>
				<string>less</string>
				<string>vue</string>
				<string>svelte</string>
				<string>rs</string>
				<string>rb</string>
				<string>kt</string>
				<string>kts</string>
				<string>java</string>
				<string>c</string>
				<string>h</string>
				<string>cc</string>
				<string>cpp</string>
				<string>cxx</string>
				<string>hpp</string>
				<string>m</string>
				<string>mm</string>
				<string>sh</string>
				<string>bash</string>
				<string>zsh</string>
				<string>fish</string>
				<string>sql</string>
				<string>conf</string>
				<string>env</string>
				<string>envrc</string>
				<string>gitignore</string>
				<string>gitattributes</string>
				<string>gitmodules</string>
				<string>editorconfig</string>
				<string>prettierrc</string>
				<string>prettierignore</string>
				<string>eslintrc</string>
				<string>eslintignore</string>
				<string>babelrc</string>
				<string>npmrc</string>
				<string>nvmrc</string>
				<string>node-version</string>
				<string>dockerignore</string>
				<string>tool-versions</string>
				<string>python-version</string>
				<string>ruby-version</string>
				<string>zshrc</string>
				<string>bashrc</string>
				<string>vimrc</string>
				<string>Dockerfile</string>
				<string>Makefile</string>
				<string>Gemfile</string>
				<string>Rakefile</string>
				<string>Podfile</string>
				<string>Fastfile</string>
				<string>Brewfile</string>
				<string>Procfile</string>
				<string>csv</string>
				<string>log</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Neovim text and configuration files</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
</dict>
</plist>
